.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1045px;
  padding: 10px 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.image {
  width: 100%;
}


@media screen and (max-width: 768px) {
	.container {
		padding: 20px 0;
	}
}