.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1045px;
  padding: 10px 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.image {
  width: 100%;
}

.image-tablet,
.image-mobile {
  width: 100%;
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 0;
  }

  .image {
    display: none;
  }

  .image-tablet {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .image {
    display: none;
  }

  .image-tablet {
    display: none;
  }

  .image-mobile {
    display: block;
  }
}
